body {
    background-color: black;
    color:white;
}

.title {
    font-family: doto; 
    font-weight: 600;
    margin-left: 4rem;
    font-size: 5.8rem;
    margin-bottom: 0em;
}

.subtitle {
    font-family: "DM Sans"; 
    font-weight: 600;
    margin-left: 4rem;
    font-size: 2.8rem;
}

.buttons-container {
    margin-left: 4rem;
}

.top-button {
    display: inline-flex;
    gap: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid white;
    background-color: #FFFFFF5C;
    border-radius: 0.9em;
    font-family: "DM Sans";
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    color: white;
    text-decoration: none;
    box-shadow:
        0px 0px 15px #FFFFFF5C
}

.bottom-page-1 {
    display: flex;
    width:100%;
    padding-top: 10%;
    padding-bottom: 9%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-family: "Kulim Park";
    font-size: 6rem;

}

.bottom-page-1-text {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 20px;
    border-radius: 2px;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: "Kulim Park";
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 3px;
    padding: 50px;
    font-size: 4.5rem;
}

.footer-text {
    border-top: 5px solid white;
    text-align: center;
    font-family: "Kulim Park";
    font-weight: 400;
    font-size: 2.5rem;
    padding-top: 30px;
}

.bottom-buttons {
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
.tg-qr {
    display: flex;
    align-items: center;
    justify-content: center;

}

.tg-qr img {
    width: 400px;
    padding-top: 30px;
}

.channel-button {
    display: inline-flex;
    gap: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid white;
    background-color: #0C003D70;
    border-radius: 0.5em;
    font-family: "DM Sans";
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    color: white;
    text-decoration: none;
    box-shadow:
        0px 0px 15px #FFFFFF5C
}

.footer-button {
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}